
.bdr{
			border-style: solid;
			border-color: grey;
			padding: 6px;
			margin: 5px;
		}
		.header{
			background-color: lightgreen;
			height: 200px;
		}
		.side-bar{
			background-color: lightgrey;
			width: 40%;
			height: 600px;
			/*position: relative;*/
			float: left;
		}
		.content{
			background-color: lightsteelblue;
			width: 55%;
			height: 600px;
			/*position: relative;*/
			float: right;
		}
		.footer{
			background-color: lightseagreen;
			height: 150px;
			/*position: relative;*/
			clear: both;
		}